*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D2D3C5;
    margin: 2rem auto; 
    padding: 2rem;
    width: 70%;  
    border-radius: 10px;
}
.image img{
  border-radius: 200px;
}
.container h1{
    background-color: #A3A3A3;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}
body{
    background-color: #F6F6F3;
}
.links nav{
    background-color:#EFF6EE;
    height: 70px;
    width: 90%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
 color: #4d4d4d;
}
a:visited{
    color: #04a8fa;
}

a:hover{
    color: #8e8c8c;
}
a:active{
    color: #5676b9;
}
